<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="identifix-nexus-nuget" value="https://anonymous@nexus-dev.gp2.axadmin.net/repository/identifix-nuget/" />
    <add key="shoff" value="http://zatoichi.ddns.net:8080/v3/index.json" protocolVersion="3">
  </packageSources>
</configuration>
